version: '3.7'

services:
  agriscrapper:
    container_name: agriscrapper
    build: ./agriscrapper/.
    volumes:
      - ./agriscrapper:/app
    networks:
      - agriscrapper_network

  dashboard:
    container_name: dashboard
    build: ./dashboard/.
    volumes:
      - ./dashboard:/app
    ports:
      - '3000:3000'
    networks:
      - agriscrapper_network

  db:
    container_name: data_lake_db
    image: postgres:13-alpine
    environment:
      POSTGRES_DB: kemis_data_db,data_warehouse
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456#data_lake_db_password
    ports:
      - '5432:5432'
    volumes:
      - ./data_lake_db_data:/var/lib/postgresql/data
    networks:
      - agriscrapper_network


networks:
  agriscrapper_network:
    name: agriscrapper_network
    driver: bridge
